extends layout 

block content
    a(class='btn btn-primary mt-3 mb5 float-right' href='/') Formulario
    h1(style='color:blue') Vista de Productos
    br
    if productos
        .table-responsive
            table.table.table-dark
                tr(style="color:yellow")
                    td ID
                    td nombre 
                    td Precio 
                    td Foto
                each producto in productos
                    tr
                        td= producto.id 
                        td= producto.nombre 
                        td= producto.precio 
                        td
                            img(src=producto.url)